*{
    margin: 0;
    padding: 0;
    background-origin:border-box;
}
body{
    box-shadow: inset;
    background-color: rgb(206, 220, 57);
    color: black;
    font-family: cursive;
}
.conteiner{
    height: 50vh;
    width: 190vh;
    border-color: rgba(0, 0, 0, 0.481);
    margin: auto;
    display: flex;
    flex-direction: column;
}
.titPrinc{
    border-radius: 1em;
    background-color: black;
    font-size: xx-large;
    color: white;
    text-align: center;
}
.topo{
    display: flex;
    margin: 0em;
    border-radius: 1em;
    text-align: center;
    min-width: 200px;
    min-height: 200px;
    
   }

.Log{ 
align-items: flex-end;
border-radius: 1em;    
float: right; 
position: absolute;
right: 5rem;
background-color: rgba(0, 0, 0, 0.593);
display:flex;
height:100px;
width:100px;
}

.subtitulo{
    border-radius: 1em;
    background-color: black;
    font-size: xx-large;
    color: white;
    text-align: center;
}
.contaneir-box{    
    height: 400px;
    width: 400px;
    
             
}
.contaneir-box img{
    text-align: center;
    height: 10rem;
    width: 10rem;
    border: 5px solid rgba(0, 0, 0, 0.899); 
    justify-content: space-between; 
}

 .menu{
    height:350px;
    width: 200px;
    border: 5px solid black;
 }
div h3.ind,
div p.ind{
    text-align: center;
}

a{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
}

h2.schedule,
p.games{
    text-align: center;
}

table {
    width: 100px;
    margin: 0 auto;
    background-color: aliceblue;
    height: 50vh;
    width: 40rem;
    table-layout: auto;
    border-spacing: 5px;   
   
}

table, th, td {
    border: 5px solid;
    border-color: black;
    text-align: center;
}

th {
    background-color: black;
    color: aliceblue;
    padding-bottom: 5px;
    padding-top: 5px;
}
.schedule,.games{
    width: 100px;
    margin: 0 auto;
   
}

.form{
 width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.form{
    justify-content: center;
    align-items: center;
    width: 110vh;
    height: 110vh;
    border-radius: 0%;
    background-color: black;
    color: aliceblue;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;

}
h1.rg{
    text-align: center;
   }


