*{
    margin: 0;
    padding: 0;   
    box-sizing: border-box;
    font-family: cursive;
    }

header{
    width:100%;
    text-align:center;       
    background-image: url(../assetes/img/hockey1.jpg);
}
header.central{
    position: absolute;
    z-index: auto;
    


}

header.logo{
    width: 8%;
}

body{
    background-color: aqua;
    color:black;   
}

.logo{
    width: 200px;
    height: 200px;
    background-color: #0a0a23;
    text-align: right;
}
.logo img{
    width: 10px;
    margin: auto;
   
}

h2,h3,h4{
    display: flex;
    justify-content: center;
}

a{
   display: list-item;
}
h1{
    background-color:white;
    text-align: center;
}